#directories
!dist
config
!lib/config
release
src
temp
sharepoint
.vscode
.github

#webparts and extensions
lib/webparts
lib/extensions

#build required files
tsconfig.json
gulpfile.js
.yo-rc.json
.eslintrc.js

#logs
*.log
