#directories
dist
config
!lib/config
release
src
tests
temp
sharepoint
.vscode
.github

#webparts and extensions
lib/webparts
lib/extensions

#scripts
*.ps1

#build files
tsconfig.*
gulpfile.mjs
.yo-rc.json
.eslintrc.js

#sonarqube
sonar-project.properties
.sonarlint

#logs
*.log

#Prettier
.prettierrc

#Test files
jest.config.mjs

#Markdowns
*.md
!README.md

#Schema Directory
schemas
