#directories
dist
config
!lib/config
release
src
tests
lib/tests
temp
sharepoint
.vscode
.github

#webparts and extensions
lib/webparts
lib/extensions

#scripts
*.ps1

#build files
tsconfig.json
gulpfile.js
.yo-rc.json
.eslintrc.cjs

#logs
*.log

#Prettier
.prettierrc

#Test files
jest.config.js
tsconfig.test.json

#Markdowns
CHANGELOG.md
